/generate-requirements-from-website

# CONTEXT
- Mô tả hệ thống: [Mô tả ngắn gọn về hệ thống hiện tại, module hiện tại]
- Website URL: https://table1.klkim.com/v2/login
- Module Name: Return    
- Thông tin đăng nhập: thientester/admin/12345678
- Truy cập vào Thu ngân
- Click icon vào Menu: Trả Hàng

# OUTPUT FORMAT
- Xuất tài liệu kết quả cuối cùng ra file Markdown. (vd: requirements/requirements_module_name.md)  